/* Estilo base para a seção About */
#about {
    position: relative;
    overflow: hidden;
}

.about-card {
    position: relative;
    display: flex;
    background-color: #68789907; 
    padding: 30px;
    border-radius: 48px;
    z-index: 1;
    max-width: 600px;
    margin: -280px auto 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    overflow: hidden;
}

.about-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(170, 170, 175, 0.05); 
    backdrop-filter: blur(5px); 
    z-index: -1;
    transform: scale(1.1); 
    border-radius: 48px;
    max-width: 100%;
    width: 100%;
}

.background-images {
    position: relative; 
    height: 300px; 
    opacity: 0.7;
}

.purple, .turquoise {
    position: absolute;
    width: 30%;
    opacity: 0.8;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.purple {
    top: 0; 
    left: 1cm;
    animation: floatPurple 4s ease-in-out infinite;
}

.turquoise {
    top: 300px; 
    right: 10%;
    animation: floatTurquoise 4s ease-in-out infinite;
    rotate: 15deg;
}


@keyframes floatPurple {
    0%, 100% {
        transform: translateY(0);
        opacity: 0.8;
    }
    50% {
        transform: translateY(-10px);
        opacity: 1;
    }
}

@keyframes floatTurquoise {
    0%, 100% {
        transform: translateY(0);
        opacity: 0.8;
    }
    50% {
        transform: translateY(10px);
        opacity: 1;
    }
}

#about button {
    margin: 40px auto;
}